.App {
  text-align: center;
}
.product-card {
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}
.container {
  margin: 0 20px;
}
.product-description h4 {
  color: blue;
}
.product-image {
  width: 160px;  
  background-color: #e6d739;
}
.product-deets {
  text-align: left;
  width: 60%;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  border-bottom: 1px solid black;
  margin: 0 20px;
}
.submission-details p {
  color: gray;
}
