.App {
    text-align: center;
    margin-top: 25px;
}

.product-card {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
}

.container {
    margin: 0 20px;
}

.product-description h4 {
    color: blue;
}

.product-image {
    width: 20%;
}

.product-deets {
    text-align: left;
    width: 60%;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid black;
    margin: 0 20px;
}

.submission-details {
    margin: 18px 0;
}

.submission-details p {
    color: gray;
}

.submission-details img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.vote-count {
    font-weight: 700;
    font-size: 18px;
}

.vote-count p {
    transition: all 3s 8s;
    ;
}